{% import '_includes/forms' as forms %}

{{ forms.checkboxField({
    label: "Purify HTML?"|t('tinymce'),
    instructions: 'Removes any potentially-malicious code on save, by running the submitted data through <a href="http://htmlpurifier.org/" target="_blank">HTML Purifier</a>.'|t('tinymce'),
    warning: 'Disable this at your own risk!'|t('tinymce'),
    id: 'purifyHtml',
    name: 'purifyHtml',
    checked: field.purifyHtml,
    toggle: 'purifier-config-container'
}) }}

<div id="purifier-config-container"{% if not field.purifyHtml %} class="hidden"{% endif %}>
    {{ forms.selectField({
        label: "HTML Purifier Config"|t('tinymce'),
        instructions: "You can save custom {name} configs as {ext} files in {path}."|t('tinymce', {
            name: 'HTML Purifier Config',
            ext: '`.json`',
            path: '`config/htmlpurifier/`'
        }) ~
        ' <a href="http://htmlpurifier.org/live/configdoc/plain.html" target="_blank">'~"View available settings"|t('tinymce')~'</a>',
        id: 'purifierConfig',
        name: 'purifierConfig',
        options: purifierConfigOptions,
        value: field.purifierConfig
    }) }}
</div>

<div id="purifier-config-container">
    {{ forms.selectField({
        label: "TinyMCE config"|t('tinymce'),
        instructions: "You can save custom {name} configs as {ext} files in {path}."|t('tinymce', {
            name: 'TinyMCE',
            ext: '`.json`',
            path: '`config/tinymce/`'
        }),
        id: 'tinymceConfig',
        name: 'tinymceConfig',
        options: tinymceConfigOptions,
        value: field.tinymceConfig
    }) }}
</div>

{% if craft.app.db.isMysql %}
    {{ forms.selectField({
        label: "Column Type"|t('tinymce'),
        id: 'column-type',
        name: 'columnType',
        instructions: "The type of column this field should get in the database."|t('tinymce'),
        options: [
            { value: 'text', label: 'text (~64KB)' },
            { value: 'mediumtext', label: 'mediumtext (~16MB)' },
        ],
        value: field.columnType,
        warning: (field.id ? "Changing this may result in data loss."|t('tinymce')),
    }) }}
{% endif %}
